{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> {# 响应不同屏幕样式 #}
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}">
    {% block header_extends %}{% endblock header_extends %}
</head>

<body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'index' %}">个人博客网站</a>
                <button class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar-collapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    {# 从主页里传入active 参数可以标记为激活 #}
                    <li class="{% block nav_index_active %}{% endblock %}">
                        <a href="{% url 'index' %}">首页</a>
                    </li>
                    <li class="{% block nav_article_active %}{% endblock %}">
                        <a href="{% url 'article_list' %}">博客</a>
                    </li>
                </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if not user.is_authenticated %}
                    <li><a  href="{% url 'login' %}?from={{ request.get_full_path }}">登录</a></li>
                    <li><a  href="{% url 'register' %}?from={{ request.get_full_path }}">注册</a></li>
                {% else %}
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                          {{ user.username }}<span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu">
                          <li><a  href="{% url 'user_info' %}">个人中心</a></li>
                          <li><a  href="{% url 'logout' %}?from={{ request.get_full_path }}">注销</a></li>
                      </ul>
                    </li>
                {% endif %}
              </ul>
            </div>
        </div>
    </div>
    {% block content %}{% endblock content %}
    <div class="modal fade" id="login_modal" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-sm" role="document">
			    <div class="modal-content">
                    <form id="login_modal_form" action="" method="POST">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">登录</h4>
                        </div>
                        <div class="modal-body">
                            {% csrf_token %}
                            {% for field in login_modal_form %}
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                            {% endfor %}
                            <span id="login_modal-tip" class="text-danger"></span>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">登录</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        </div>
                    </form>
			    </div>
			</div>
		</div>
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript">
    	String.prototype.format = function(){
    		var str = this;
    		for (var i = 0; i < arguments.length; i++) {
    			var str = str.replace(new RegExp('\\{' + i + '\\}', 'g'),arguments[i])
    		};
    		return str;
    	}
        function reply(reply_comment_id){
            // 设置值
            $('#reply_comment_id').val(reply_comment_id);
            var html = $("#comment_" + reply_comment_id).html();
            $('#reply_content').html(html);
            $('#reply_content_container').show();

            $('html').animate({scrollTop: $('#comment_form').offset().top - 60}, 300, function(){
                CKEDITOR.instances['id_comment_content'].focus();
            });
        }
        function numFormat(num) {
            return ('00' + num).substr(-2);
        }
        function timeFormat(timestamp){
            var datetime = new Date(timestamp * 1000);
            var year = datetime.getFullYear();
            var month = numFormat(datetime.getMonth() + 1);
            var day = numFormat(datetime.getDate());
            var hour = numFormat(datetime.getHours());
            var minute = numFormat(datetime.getMinutes());
            var second = numFormat(datetime.getSeconds());
            return year + '-' + month + '-' + day + ' ' + hour + ':' + minute + ':' + second;
        }
        $("#comment_form").submit(function(){
            // 判断是否为空
            $("#comment_error").text('');
            if(CKEDITOR.instances['id_comment_content'].document.getBody().getText().trim()==''){
                $("#comment_error").text('评论内容不能为空');
                return false;
            }
            // 更新数据到textarea
            CKEDITOR.instances['id_comment_content'].updateElement();
            // 异步提交
            $.ajax({
                url: '{% url 'submit_comment' %}',
                type: 'POST',
                data: $(this).serialize(),  //当前方法对象
                cache: false,
                success: function(data){
                    console.log(data);
                    if(data['status']=="SUCCESS"){
                        if($('#reply_comment_id').val()=='0'){
                            // 插入评论
                            var comment_html = '<div id="root_{0}" class="comment">' +
                            	'<span>{1}</span>' +
                            	'<span>({2}):</span>' +
                            	'<div id="comment_{0}">{3}</div>' +
                            	'<div class="like" onclick="likeChange(this, \'{4}\', {0})">' +
                            	'<span class="glyphicon glyphicon-thumbs-up"></span>' +
                            	'<span class="liked-num">0</span>' +
                            	'</div><a href="javascript:reply({0});">回复</a></div>';

                            comment_html = comment_html.format(data['pk'], data['username'],timeFormat(data['comment_time']), data['comment_content'], data['content_type']);
                            $("#comment_list").prepend(comment_html);
                        }else{
                            // 插入回复
                            var reply_html = '<div class="reply">' +
                                        '<span>{0}</span>' +
                                        '<span>({1})</span>' +
                                        '<span>回复</span>&nbsp;' +
                                        '<span>{2}: </span>' +
                                        '<div id="comment_{3}">{4}</span>' +
                                        '</div>' +
                                        '<div class="like" onclick="likeChange(this, \'{5}\', {3})">' +
                                            '<span class="glyphicon glyphicon-thumbs-up"></span> ' +
                                            '<span class="liked-num">0</span>' +
                                        '</div>' +
                                        '<a href="javascript:reply({3});">回复</a>' +
                                    '</div>';
                            reply_html = reply_html.format(data['username'],timeFormat(data['comment_time']),data['reply_to'], data['pk'],data['comment_content'], data['content_type']);
                            $("#root_" + data['root_pk']).append(reply_html);

                        }

                        // 清空编辑框的内容
                        CKEDITOR.instances['id_comment_content'].setData('');
                        $('#reply_content_container').hide();
                        $('#reply_comment_id').val('0');
                        $('#no_comment').remove();
                        $('#comment_error').text('提交成功');
                    }else{
                        // 显示错误信息
                        $("#comment_error").text(data['message']);
                    }
                },
                error: function(xhr){
                    console.log(xhr);
                }
            });
            return false;
        });

        function likeChange(obj, content_type, object_id) {
            var is_like = obj.getElementsByClassName('active').length == 0  // 判断是否有active
            $.ajax({
                url: '{% url 'like_change' %}',
                type: 'GET',
                data:{
                    content_type: content_type,
                    object_id: object_id,
                    is_like: is_like
                },
                cache: false,
                success: function (data) {
                    console.log(data)
                    if(data['status'] == 'SUCCESS'){
                        //更新点赞状态
                        var element = $(obj.getElementsByClassName('glyphicon'));
                        if(is_like){
                            element.addClass('active');
                        }else {
                            element.removeClass('active');
                        }
                        // 更新点赞数量
                        var liked_num = $(obj.getElementsByClassName('liked-num'));
                        liked_num.text(data['liked_num'])
                    }else{
                    	if(data['code'] == 400){
                    		$('#login_modal').modal('show');

                    	}else{
                    		alert(data['message']);
                    	}
                    }
                },
                error: function (xhr) {
                    console.log(xhr)
                }
            });
        }
        $("#login_modal_form").submit(function(event){
            event.preventDefault();
            $.ajax({
                url: '{% url "login_for_modal" %}',
                type: 'POST',
                data: $(this).serialize(),
                cache: false,
                success: function(data){
                    if(data['status']=='SUCCESS'){
                        window.location.reload();  //重新加载当前窗口
                    }else{
                        $('#login_modal_tip').text('用户名或密码不正确');
                    }
                }
            });
            return false;
        });
    </script>
    {% block script_extends %}{% endblock script_extends %}
</body>
</html>