{% extends 'base.html' %}
{# 页面标题 #}
{% block title %}
    {{ article.title }}
{% endblock title %}
{% block nav_article_active %}active{% endblock %}

{% load staticfiles %}
{% block header_extends %}
    <link rel="stylesheet" href="{% static 'css/article/article.css' %}">
{% endblock %}
{# 页面内容 #}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-md-offset-1">
                <h3>{{ article.title }}</h3>
                <ul class="article-info-desc">
                    <li>作者:{{ article.author }}</li>
                    <li>分类:<a href="{% url 'article_category' article.category.pk %}"
                    >{{ article.category }}</a></li>
                    <li>发表日期:{{ article.created_time|date:"Y-m-d" }}</li>
                    <li>阅读次数({{ article.get_read_num }})</li>
                </ul>
                <div class="article-content">{{ article.content|safe }}</div>
                <div class="article-context">
                    <div id="previous_article">上一篇:
                        {% if previous_article %}
                            <a href="{% url 'article_detail' previous_article.pk%}">{{ previous_article.title }}</a>
                        {% else %}
                            无
                        {% endif %}
                    </div>
                    <div id="next_previous">下一篇:
                        {% if next_article %}
                            <a href="{% url 'article_detail' next_article.pk %}">{{ next_article.title }}</a>
                        {% else %}
                            无
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="class">
            <div class="col-xs-10 col-md-offset-1">
                <div class="comment-area">
                    <h4 class="comment-area-title">提交评论</h4>
                    {% if user.is_authenticated %}
                        <form action="{% url 'submit_comment' %}" method="post" style="overflow: hidden">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="comment_text">
                                    {{ user }} 欢迎评论
                                </label>
                                <textarea id="comment_text" class="form-control" name="text" rows="4"></textarea>
                            </div>

                            <input type="hidden" name="object_id" value="{{ article.pk }}">
                            <input type="hidden" name="content_type" value="article">
                            <input type="submit" value="提交" class="btn btn-primary" style="float:right">

                        </form>
                    {% else %}
                        请先登录后发表评论
                        <form action="{% url 'login' %}" method="post">
                            <label>
                                {% csrf_token %}
                                <span>用户名:</span>
                                <input type="text" name="username">
                            </label>
                            <label>
                                <span>密码:</span>
                                <input type="password" name="password">
                            </label>
                            <input type="submit" value="登录">
                        </form>
                    {% endif %}
                </div>
                <div class="comment-area">
                    <h4 class="comment-area-title">评论列表</h4>
                    {% for comment in comments %}
                        <div>
                            {{ comment.commenter }}
                            ({{ comment.comment_time|date:"Y-m-d H:n:s" }}):
                            {{ comment.comment_content }}
                        </div>
                    {% empty %}
                        暂无评论
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}