{% extends 'base.html' %}
{# 页面标题 #}
{% block title %}
    {{ article.title }}
{% endblock title %}
{% block nav_article_active %}active{% endblock %}

{% load staticfiles %}
{% block header_extends %}
    <link rel="stylesheet" href="{% static 'css/article/article.css' %}">
{% endblock %}
{# 页面内容 #}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-md-offset-1">
                <h3>{{ article.title }}</h3>
                <ul class="article-info-desc">
                    <li>作者:{{ article.author }}</li>
                    <li>分类:<a href="{% url 'article_category' article.category.pk %}"
                    >{{ article.category }}</a></li>
                    <li>发表日期:{{ article.created_time|date:"Y-m-d" }}</li>
                    <li>阅读次数({{ article.read_num }})</li>
                </ul>
                <div class="article-content">{{ article.content|safe }}</div>
                <div class="article-context">
                    <div id="previous_article">上一篇:
                        {% if previous_article %}
                            <a href="{% url 'article_detail' previous_article.pk%}">{{ previous_article.title }}</a>
                        {% else %}
                            无
                        {% endif %}
                    </div>
                    <div id="next_previous">下一篇:
                        {% if next_article %}
                            <a href="{% url 'article_detail' next_article.pk %}">{{ next_article.title }}</a>
                        {% else %}
                            无
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}